*{
    margin: 0;
    padding: 0;
}
.video{
    
    position: absolute;
    justify-content: center;
    top: 0px;
    left: 10;
    bottom: 0;
  
}
.header1{
    background-color: red;
    position:fixed;

    
    height: 80px;
}
.content1 {
    text-align: center;
    position: relative;
    left: 25vh;
    top: 38vh;
    white-space: nowrap;
}

.content1 h1 {
    transition: transform 0.3s ease; /* Smooth transition for the transform property */
}

.content1 h1:hover {
    transform: scale(1.08);
    -webkit-text-stroke: 2px #fff;
    color: transparent;
}


.content1 h1{
    font-size: 160px;
    color: #fff;
    font-weight: 600;
    position: absolute;
    cursor: default;
}
.logo{
    height: 30px;
    width: 30x;
    border-radius: 30px;
    position: absolute;
    left: 250px;
    top: 35px;
}
.header{
    top: 35px;
    position: relative;
    left: 20px;
    color: #fff;
    letter-spacing: 10px;
    text-transform: uppercase;
    cursor: default;
}
.content{
    position: relative;
    top: 10px;
    left: 70vh;
    margin-left: 20px;
    letter-spacing: 10px;
}
.a1{
    margin-top: 20px;
    margin-left: 300px;
    color:#fff;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 5px;
    font-family: fantasy;
    cursor: pointer;
    
}


.a4{
    margin-top: 20px;
    margin-left: 40px;
    color:#fff;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 5px;
    font-family: fantasy;
    cursor: pointer;
    
}
.a5{
    margin-top: 20px;
    margin-left: 40px;
    color:#fff;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 5px;
    font-family: fantasy;
    cursor: pointer;
}

.a6{
    margin-top: 20px;
    margin-left: 40px;
    color:#fff;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 5px;
    font-family: fantasy;
    cursor: pointer;
}
.a1:hover{
    color: #0074D9;
    
}

.a4:hover{
    color: #0074D9;    
}
.a5:hover{
    color: #0074D9;
    
}
.a6:hover{
    color: #0074D9;
    
}
